<h1>List a Party </h1>

<div>
<%= form_for @party do |f| %>

<label> Name: </label>
<%= f.text_field :name %><br><br>

<label> Date: </label>
<%= f.date_field :date %><br><br>

<label> Budget: </label>
<%= f.number_field :budget %><br><br>

<label> Private: </label>
<%= f.check_box :private %><br><br>

<%= f.submit 'Plan Party' %>

<% end %>
</div>