<div>
<%= form_tag parties_path do %>

<label> Name: </label>
<%= text_field_tag :name %><br><br>

<label> Date: </label>
<%= date_field_tag :date %><br><br>

<label> Budget: </label>
<%= number_field_tag :budget %><br><br>

<label> Private: </label>
<%= check_box_tag :private %><br><br>

<%= submit_tag 'Plan Party' %>

<% end %>
</div>