<%= form_tag parties_path do %>

<label> Name: </label>
<%= text_field_tag :name %>

<label> Name: </label>
<%= text_field_tag :date %>

<label> Name: </label>
<%= text_field_tag :budget %>

<label> Name: </label>
<%= check_box_tag :private %>