<br><br><br><br> 

<label>Name:</label>
<%= @party.name %> <br>

<label>Date:</label>
<%= @party.date %><br>

<label>Budget: </label>
<%= @party.budget %> <br>

<label>Private:</label>
<%= @party.private %> <br>

<%= link_to 'Edit Party', edit_party_path(@party) %>